*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #1b8864;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loader{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
.loader span{
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 50%;
    border: 6px solid #bbb;
    border-top: 6px solid #4646fc;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%; 
}
.dot-1{
    background-color: #ff0000d3;
    animation: animateOne 2s alternate-reverse infinite;
    animation-delay: .5s;
}
.dot-2{
    background-color: #0f7e46;
    animation: animateTwo 2s alternate infinite;
    animation-delay: .5s;
}
.dot-3{
    background-color: #4d18c9;
    animation: animateThree 2s alternate-reverse infinite;
    animation-delay: .5s;
}
@keyframes animateOne{
    0%{
        transform: translateY(0);
       
    }

    50%{
        transform: translateY(-10px);
      
    }
    
    100%{
        transform: translateY(-20px);


    }
}
@keyframes animateTwo{
    0%{
        transform: translateY(-10px);
   
    }

    50%{
        transform: translateY(-20px);
 
    }
    
    100%{
        transform: translateY(0);

    }
}
@keyframes animateThree{
    0%{
        transform: translateY(-20px);
     
    }

    50%{
        transform: translateY(0);
    
    }
    
    100%{
        transform: translateY(-10px);
      
    }
} */