*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.loader-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}
.loader{
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    animation: loader 3s forwards infinite ease-out;
    transition: all 1s;
}
/* .loading{
    color: tomato;
    font-size: 20px;
    margin: 10px auto;
} */
.dot{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    margin:14px;
}
.dot-1{
    background-color: #FF2525;
}
.dot-2{
    background-color: #0f7e46;
}
.dot-3{
    background-color: #4d18c9;
}
.dot-4{
    background-color: #eee;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
        scale: 1;
    }
    25%{
        transform: rotate(90deg);
        scale: 0.5;
    }
    50%{
        transform: rotate(180deg);
        scale: 1;
    }
    75%{
        transform: rotate(270deg);
        scale: 0.5;
    }
    100%{
        transform: rotate(360deg);
        scale: 1;
    }
}